body{
    background-color: black;
}

.pictures{
    max-width: 100%;
    width: 12%;
  }
  
  .coloringnames{
    color:blue;
    /* flex basix */
    flex: 0 0 130px; 
  }
  
  .whatever{
    color: blue
  }
  
  .aligned{
    display: flex;
    /*flex-wrap: nowrap;*/
    /* flex-direction: column; This makes it so that the flex will start on the furthest left side*/
    /* COLUMN 2:49 to see video with CSS in REACT What this does is makes it so that the cart list items are aligned in the way we want them to be vertically */
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
  }
  .container{
    /*display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    */
    width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  Align-items:flex-start;
  margin-top: 90px;
  }
.inside{
    width: 10%;
  flex-grow: 10;
  height: 140px;
  justify-content: space-between;
  flex-basis: 35%;
  flex: 0 0 130px;
  text-align: center;
  /*padding: 40px;*/
  padding: 2rem 1rem;
  /*margin: 25500x;*/
  align-items: center;
  align-self: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding: 5px;
}
  
/* Designing all grid-items */
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#coord{
    width: 10%;
    height: 10%;
    /*width: 12%; */
}
.flexabove{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.flexbelowname{
    color: orange;
}
.card{
    background-color: white;
    width: 13%;
    height: 250px;
}

.corner {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.picard{
    width: 12%;
}

.cardcenter{
    /* Must have two items for flexbox other wise it does not work*/
    display: flex;
    align-items: center; 
    justify-content: center;
    color:blue;
    padding: 50px;
    gap: 40px;
}