.pictures{
    max-width: 100%;
    width: 12%;
  }
  
  .coloringnames{
    color:blue;
    /* flex basix */
    flex: 0 0 130px; 
  }
  
  .whatever{
    color: blue
  }
  
  .aligned{
    display: flex;
    /*flex-wrap: nowrap;*/
    /* flex-direction: column; This makes it so that the flex will start on the furthest left side*/
    /* 2:49 to see video with CSS in REACT What this does is makes it so that the cart list items are aligned in the way we want them to be vertically */
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
  }
  .container{
    /*display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    */
    width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  Align-items:flex-start;
  margin-top: 90px;
  }
.inside{
    width: 10%;
  flex-grow: 10;
  height: 140px;
  justify-content: space-between;
  flex-basis: 35%;
  flex: 0 0 130px;
  text-align: center;
  /*padding: 40px;*/
  padding: 2rem 1rem;
  /*margin: 25500x;*/
  align-items: center;
  align-self: center;
}