.pictures{
    max-width: 100%;
    width: 12%;
  }
  
  .coloringnames{
    color:blue;
    /* flex basix */
    flex: 0 0 130px; 
  }
  
  .whatever{
    color: blue
  }
  
  .aligned{
    display: flex;
    /*flex-wrap: nowrap;*/
    /* flex-direction: column; This makes it so that the flex will start on the furthest left side*/
    /* What this does is makes it so that the cart list items are aligned in the way we want them to be vertically */
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
  }
